@import "~/assets/style/grid.scss";

@font-face {
  font-family: "mono";
  src: url("~/assets/type/mono.woff2") format("woff2");
  font-display: block;
}

.monospace {
  font-family: "mono", Courier, monospace;
}